.main {
    display: grid;
    grid-template-rows: 100px 1fr max-content;
    grid-gap: 20px;
    padding: 0px 20px 20px 20px;
}
.header, .content, .footer {
    padding: 0px 20px 20px 20px;
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
}

/* content */
.login-form .card {
    padding: 20px;
}
.users-list .card {
    padding: 0px;
}
.users-list .card .card-header {
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
}
.table {
    text-align: left;
}

/* modal */
.modal {
    /* display: block; */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #282828;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #282828;
    width: 80%;
    animation-name: modalopen;
    animation-duration: 0.3s;
}
@keyframes modalopen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}
.content-align {
    display: flex;
    flex-direction: column;
}
.content-align > audio {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.close {
    display: flex;
    justify-content: flex-end;
    color: rgb(230, 230, 230);
    font-size: 28px;
    font-weight: 300;
}
.close:hover,
.close:focus {
    color: #c9c9c9;
    text-decoration: none;
    cursor: pointer;
}





/* mobile adjustments */
/* @media (max-width: 1400px) {
    .main {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .main {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-gap: 10px;
    }
}

@media (max-width: 480px) {
    .main {
      grid-template-columns: 1fr;
      grid-gap: 5px;
    }
} */
